* {
  box-sizing: border-box;
  margin: 5px;
}
span,
a {
  margin: 0px;
}
fieldset {
  border: 1px solid #0000002d !important;
  border-radius: 10px;
  margin-top: 20px !important;
  padding: 5px 15px 15px 15px !important;
}
legend {
  display: inline-block;
  margin: 0px;
  font-size: 1.2rem !important;
}
table {
  table-layout: fixed;
  text-align: center;
}
td {
  font-size: small;
}
table,
tr,
td,
th {
  border: 1px solid #dee2e6 !important;
  border-collapse: collapse;
}
.jumbotron {
  background-color: #eee;
  border-radius: 10px;
  margin: 10px 0px 20px;
  padding: 40px 10px 20px;
  text-align: center;
}
#mainBody {
  display: grid;
  grid-template-columns: 28% auto;
}
#topSection {
  margin-bottom: 10px;
}
#rightSection {
  margin: 0px;
}
.sectionHeaders {
  display: flex;
  justify-content: space-between;
}
.courseCodesAndNames span,
h6 {
  margin: 0px !important;
  padding: 0px;
}
.courseCodesAndNames span {
  padding-right: 10px;
}
.courseCodesAndNames h6 {
  padding-top: 2px;
}
.courseNameSpans {
  font-weight: bold;
  padding: 0px !important;
}
.modal-footer {
  justify-content: space-between !important;
}
#legendWrapper {
  border-bottom: 1px solid #0000004d;
  display: flex;
  justify-content: space-between;
}
#addCourseScheduleBtn {
  width: 50%;
  margin-bottom: 0.5rem;
  font-size: small;
}
.scheduleSets {
  border: 1px solid #0000002d;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
}
.deleteCourseScheduleBtnDivs {
  display: flex;
  justify-content: end;
}
.deleteCourseScheduleBtns {
  font-size: small;
}

@media (max-width: 992px) {
  #mainBody {
    grid-template-columns: 100%;
  }
  .sectionHeaderH4s {
    text-align: left;
  }
  .courseCodesAndNames {
    display: flex;
    flex-direction: row;
  }
}
